* {
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

$border: 2px solid black;

.red {
  color: rgb(248, 80, 80);
}
.black {
  color: #272727;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.card {
  font-size: 3.5rem;
  // border: 1px solid #272727;
  border-radius: 10px;
  padding: 0;
  background-color: white;
  user-select: none;
}
.card--main {
  position: absolute;
}

.main {
  display: grid;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "p1 p1 p1"
    "suit suit suit"
    "board board board"
    "board board board"
    "p2 p2 p2"
    "score score score";
  .board {
    &__pile {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .player {
    &__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // .card {
      //   font-size: 100px;
      // }
    }
  }
  #score_area {
    .round {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: flex-start;
    }
  }
  #game_display {
    grid-area: suit;
  }

  #player_1 {
    grid-area: p1;
  }
  #player_2 {
    grid-area: p2;
  }
  #board {
    display: flex;
    gap: 10px;
    grid-area: board;
  }
  #score_area {
    grid-area: score;
  }
}
